body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (min-width: 746px){
.main_nav{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 100;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: large;
    color: white;
    transition: background-color 0.5s ease-in;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.7);
    margin-inline: 20PX;
}

.mobile_links{
    display:flex;
    gap:60px;
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 20px;
    margin-left: auto;
    cursor: pointer;
}

.button-title{
    display: flex;
}

li{
    position: relative;
    transform:scale(1);
    transition: transform 0.2s ease-in,color 0.5s ease-in;
    cursor: pointer;
    list-style: none;
}

li:not(.logo):hover{
    transform: scale(1.1);
    color: rgb(2, 150, 137);
}


.logo{
    font-style: oblique;
    font-size: 25px;
    margin-right: auto;
    transform:scale(1);
    transition: transform 0.2s ease-in;
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 20px;
    cursor: pointer;
}

li:not(.logo)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease-in;
    background-color: rgb(2, 150, 137);
}

li:not(.logo):hover::after {
    background-color: rgb(2, 150, 137);
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
}


.page{
    background: url("./img/pexels-therato-11260104.jpg") center / cover no-repeat;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding-top: 200px;

}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.page_p {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding-left: 50px; 
    color: white;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.4;
    font-weight:lighter;
}

.title{
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 50px;
    border-bottom: 2px solid rgba(2, 150, 137,0.4);
    padding-bottom: 5px;
}

.explore_btn{
    margin-top: 30px;
    padding-inline:40px;
    padding-block: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 10px;
    transition:0.3s ease-in;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.3);
}

.explore_btn:hover{
    background-color: rgba(2, 150, 137,0.4);
    cursor: pointer;
}

.menu-btn{
    display: none;
}

.logo-image{
    width: 80px;
    height: auto;
}

.logodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    pointer-events: auto;
}

.mid-p{
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding-left: 50px; 
    color: white;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.4;
    font-weight:lighter;
}

.footer{
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foot-container{
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    width: 90vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:30px;
    border-radius: 20px;
    margin-top:100px ;
    margin-bottom: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
}

.title-foot{
    position: relative;
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.footer_check{
    margin: 20px;
}

.footer_links{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    list-style: none;
    cursor: pointer;
}

.email-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.email{
    border: none;
    background: rgba(187, 187, 187, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 15px;
    padding-inline: 10px;
    border-radius: 20px;
    color: white;
}

.submit-button{
    border: none;
    color:white;
    background: rgba(187, 187, 187, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 10px;
    padding-inline: 5px;
    border-radius: 20px;
}


.submit-button:hover{
    background-color: rgb(2, 150, 137);
    color:black;
    cursor: pointer;
}

.rights{
    color: rgb(187, 187, 187);
    margin-top: auto;
    margin-bottom: 20px;
}

i{
    transition: transform 0.3s ease;
}

i:hover{
    color:rgba(2, 150, 137);
    cursor: pointer;
    transform: scale(1.2);
}

button{
    transition: transform 0.3s ease-in;
}

button:active{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: inherit;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    gap:40px;
    place-items: center;
}

.container-card{
    width: 400px;
    height: 480px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    transition: transform 0.2s ease-in;
}

.container-card:hover{
    transform: translateY(-6px);
    cursor: pointer;
}

.container-image{
    width: 100%;
    display: flex;
    border-radius: 20px;
}

.card-info{
    height: 150px;
    padding-inline: 10px;
    color:rgb(211, 211, 211);
}

.image-wrapper{
    padding: 10px;
}

.before-text{
    color: rgb(2, 150, 137);
}

.read-more{
    text-align: center;
    color:rgb(2, 150, 137)
}

.arrow{
    color: rgb(49, 252, 218);
}

.read_btn{
    padding-inline:30px;
    padding-block: 10px;
    background-color: rgb(2, 150, 137,0.6);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    transition: background-color 0.3s ease-in, color 0.3s ease-in,transform 0.3s ease;
}

.read_btn:hover{
    background-color: rgb(214, 214, 214,0.4);
    color:rgb(2, 150, 137);
    cursor: pointer;
}

.monument-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#monument-img{
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
}

#description{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    text-align: strat;
    margin-inline: 20px;
    padding: 15px;
    border-radius: 20px;
    width: 900px;
    font-size: 25px;
    color:rgb(209, 224, 238);
}

.monument-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding: 30px;
    border-radius: 20px;
}

.btn-gallery{
    border: none;
    color:white;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in,color 0.3s ease-in,transform 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-gallery:hover{
    background-color: rgb(2, 150, 137,0.7);
    color:black;
    cursor: pointer;
}

.btn-gallery:active{
    transform: scale(1.1);
}

#prevBtn,#nextBtn{
    border: none;
    color:white;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in,color 0.3s ease-in,transform 0.3s ease;
}

#prevBtn:hover,#nextBtn:hover{
    background-color: rgb(2, 150, 137,0.7);
    color:black;
    cursor: pointer;
}

#prevBtn:active,#nextBtn:active{
    transform: scale(1.1);
}

.nav-monuments{
    display: flex;
    gap: 20px;
}

}


@media screen and (max-width: 746px){
    
   .main_nav{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_links{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    font-size: large;
    color: white;
    padding:0;
}

.scrolled{
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.4);
}


.mobile_links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-color:rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px); ;
    padding-inline: 100px;
    padding-block: 60px;
    border-radius: 20px;
    opacity:0;
    transform: translateY(-100vh);
    transition: transform 0.7s ease, opacity 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
}

.mobile_links.open{
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.7s ease, opacity 0.3s ease;
}

li{
    position: relative;
    transform:scale(1);
    transition: transform 0.2s ease-in,color 0.5s ease-in;
    cursor: pointer;
    list-style: none;
}

li:not(.logo):hover{
    transform: scale(1.1);
    color: rgb(2, 150, 137);
}

.logo{
    display:flex;
    align-items: center;
    font-style: oblique;
    font-size: 18px;
    transform:scale(1);
    padding-inline: 30px;
}

li:not(.logo)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: 0.5s ease-in;
    background-color: rgb(2, 150, 137);
}

li:not(.logo):hover::after {
    background-color: rgb(2, 150, 137);
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
}

.page{
    background: url("./img/pexels-therato-11260104.jpg") center / cover no-repeat;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding-top: 120px;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.page_p {
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block: 100px;
}

.title{
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 30px;
    border-bottom: 2px solid rgba(2, 150, 137);
    padding-bottom: 5px;
}

.desc{
    color:aliceblue
}

.explore_btn{
    margin-top: 70px;
    padding-inline:40px;
    padding-block: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    transition: background-color 0.3s ease-in, color 0.3s ease-in,transform 0.3s ease;
    pointer-events:auto;
}

.explore_btn:hover{
    background-color:rgba(2, 150, 137,0.4);
    color:black;
    cursor: pointer;
}

.menu-btn{
    border:none;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;
    transition: transform 0.3s ease,background-color 0.5s ease-in;
    background-color: transparent;
}


button:active{
    transform: scale(1.1);
}

.logo-image{
    width: 60px;
    border-radius: 50%;
    height: auto;
    transition: background-color 0.5s ease-in;
}

.logodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background-color 0.5s ease-in;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.7);
}

.mid-p{
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer{
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 20px;
    
}

.foot-container{
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap:30px;
    border-radius: 20px;
    margin-top:100px ;
    margin-bottom: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
}

.footer_links{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.email-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email{
    border: none;
    background: rgba(187, 187, 187, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 15px;
    padding-inline: 10px;
    border-radius: 20px;
    color: white;
}

.submit-button{
    border: none;
    color:white;
    background: rgba(187, 187, 187, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 10px;
    padding-inline: 5px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in,color 0.3s ease-in,transform 0.3s ease;
}

.submit-button:active{
    transform: scale(1.1);
}

.submit-button:hover{
    background-color: rgb(2, 150, 137);
    color:black;
    cursor: pointer;
}

.rights{
    color: rgb(187, 187, 187);
}

.title-foot{
    display: flex;
    flex-direction: column;
    gap:30px;
}

i{
    transition: transform 0.3s ease;
}

i:hover{
    color:rgba(2, 150, 137);
    cursor: pointer;
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: inherit;
}

.grid-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap:40px;
}

.container-card{
    width: 300px;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    transition: transform 0.2s ease-in;
}

.container-card:hover{
    transform: translateY(-6px);
    cursor: pointer;
}

.container-image{
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.card-info{
    height: 150px;
    padding-inline: 10px;
    color:rgb(211, 211, 211);
}

.image-wrapper{
    padding: 10px;
}

.before-text{
    color: rgb(2, 150, 137);
}


.arrow{
    color: rgb(49, 252, 218);
}

.read_btn{
    padding-inline:30px;
    padding-block: 10px;
    background-color: rgb(2, 150, 137,0.6);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    transition: background-color 0.3s ease-in, color 0.3s ease-in,transform 0.3s ease;
}

.read_btn:hover{
    background-color: rgb(214, 214, 214,0.4);
    color:rgb(2, 150, 137);
    cursor: pointer;
}

.monument-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#monument-img{
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
}

#description{
    display: flex;
    flex-direction: column;
    margin-block: 20px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    text-align: center;
    margin-inline: 20px;
    padding: 15px;
    border-radius: 20px;
    color:rgb(209, 224, 238);
}

.monument-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding: 30px;
    border-radius: 20px;
}

.btn-gallery{
    border: none;
    color:white;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in,color 0.3s ease-in,transform 0.3s ease;
    margin-bottom: 20px;
}

.btn-gallery:hover{
    background-color: rgb(2, 150, 137,0.7);
    color:black;
    cursor: pointer;
}

.btn-gallery:active{
    transform: scale(1.1);
}

#prevBtn,#nextBtn{
    border: none;
    color:white;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in,color 0.3s ease-in,transform 0.3s ease;
}

#prevBtn:hover,#nextBtn:hover{
    background-color: rgb(2, 150, 137,0.7);
    color:black;
    cursor: pointer;
}

#prevBtn:active,#nextBtn:active{
    transform: scale(1.1);
}

.nav-monuments{
    display: flex;
    gap: 20px;
}

}