body{
    margin:0;
}


@media screen and (min-width: 746px){
.main_nav{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 100;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 20px;
    font-size: large;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.mobile_links{
    display:flex;
    gap:60px;
}

li{
    position: relative;
    transform:scale(1);
    transition: transform 0.2s ease-in;
}

.logo:hover,li:hover{
    transform: scale(1.1);
}

.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 25px;
    margin-right: auto;
    transform:scale(1);
    transition: transform 0.2s ease-in;
}

li::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    left: 0;
    transition:0.5s ease-in;
}

li:hover::after{
    content: "";
    position: absolute;
    background-color: rgb(245, 153, 32);
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
}


.page{
    background: url("./img/pexels-blitzboy-1144176.jpg") center / cover no-repeat;
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0px;
    padding-top: 120px;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.page_p {
    
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding-left: 50px; 
    color: white;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
}

.title{
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 50px;
    border-bottom: 2px solid rgb(245, 153, 32);
    padding-bottom: 5px;
}

.explore_btn{
    margin-top: 30px;
    padding-inline:40px;
    padding-block: 20px;
    background-color: rgb(245, 153, 32);
    color: white;
    border: none;
    border-radius: 10px;
    transition:0.3s ease-in
}

.explore_btn:hover{
    background-color: rgb(28, 36, 49);
    cursor: pointer;
}

}

@media screen and (max-width: 746px){
    
   .main_nav{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 100;
}

.nav_links{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    font-size: large;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding:0;
}

.mobile_links{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-color:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px); ;
    padding-inline: 150px;
    padding-block: 100px;
    border-radius: 20px;
}

li{
    position: relative;
    transform:scale(1);
    transition: transform 0.2s ease-in;
}

.logo:hover,li:hover{
    transform: scale(1.1);
}

.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 25px;
    transform:scale(1);
    transition: transform 0.2s ease-in;
}

li::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    left: 0;
    transition:0.5s ease-in;
}

li:hover::after{
    content: "";
    position: absolute;
    background-color: rgb(245, 153, 32);
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
}


.page{
    background: url("./img/pexels-blitzboy-1144176.jpg") center / cover no-repeat;
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0px;
    padding-top: 120px;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.page_p {
    position: absolute;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:30%;
}

.title{
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 30px;
    border-bottom: 2px solid rgb(245, 153, 32);
    padding-bottom: 5px;
}

.desc{
    color:aliceblue
}

.explore_btn{
    margin-top: 30px;
    padding-inline:40px;
    padding-block: 20px;
    background-color: rgb(245, 153, 32);
    color: white;
    border: none;
    border-radius: 10px;
    transition:0.3s ease-in
}

.explore_btn:hover{
    background-color: rgb(28, 36, 49);
    cursor: pointer;
}
}