body{
    margin:0;
}


@media screen and (min-width: 746px){
.main_nav{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 100;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 20px;
    font-size: large;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.mobile_links{
    display:flex;
    gap:60px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.3);
    margin-left: auto;
}

.button-title{
    display: flex;
}

li{
    position: relative;
    transform:scale(1);
    transition: transform 0.2s ease-in;
}

li:not(.logo):hover{
    transform: scale(1.1);
}

.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 25px;
    margin-right: auto;
    transform:scale(1);
    transition: transform 0.2s ease-in;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.3);
}

li:not(.logo)::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    left: 0;
    transition: 0.5s ease-in;
}

li:not(.logo):hover::after {
    background-color: rgb(48, 43, 77);
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
}


.page{
    background: url("./img/pexels-lum3n-44775-167699.jpg") center / cover no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding-top: 120px;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.page_p {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding-left: 50px; 
    color: white;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
}

.title{
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 50px;
    border-bottom: 2px solid rgb(48, 43, 77);
    padding-bottom: 5px;
}

.explore_btn{
    margin-top: 30px;
    padding-inline:40px;
    padding-block: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border: none;
    border-radius: 10px;
    transition:0.3s ease-in;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.3);
}

.explore_btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.menu-btn{
    display: none;
}

.logo-image{
    width: 80px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: auto;
}

.logodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

}

@media screen and (max-width: 746px){
    
   .main_nav{
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_links{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding:0;
}

.mobile_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-color:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px); ;
    padding-inline: 100px;
    padding-block: 60px;
    border-radius: 20px;
    opacity:0;
    transform: translateY(-100vh);
    transition: transform 0.7s ease, opacity 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
}

.mobile_links.open{
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.7s ease, opacity 0.3s ease;
}

li{
    position: relative;
    transform:scale(1);
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

li:not(.logo):hover{
    transform: scale(1.1);
}

.logo{
    display:flex;
    align-items: center;
    gap:12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 25px;
    transform:scale(1);
    transition: transform 0.2s ease-in;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.3);
}

li:not(.logo)::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    left: 0;
    transition: 0.5s ease-in;
}

li:not(.logo):hover::after {
    background-color: rgb(48, 43, 77);
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
}

.page{
    background: url("./img/pexels-lum3n-44775-167699.jpg") center / cover no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding-top: 120px;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.page_p {
    position: absolute;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:30%;
}

.title{
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 30px;
    border-bottom: 2px solid rgb(48, 43, 77);
    padding-bottom: 5px;
}

.desc{
    color:aliceblue
}

.explore_btn{
    margin-top: 70px;
    padding-inline:40px;
    padding-block: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.8);
    transition: background-color 0.3s ease-in, color 0.3s ease-in,transform 0.3s ease;
}

.explore_btn:hover,.menu-btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color:black;
    cursor: pointer;
}

.menu-btn{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border:none;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0,0.3);
}

button:active{
    transform: scale(1.1);
}

.logo-image{
    width: 60px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: auto;
}

.logodiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

}